[access]
	inheritFrom = Public-Plugins
[project]
	description = Plugin base for issue tracking systems.\n\nNew project for 'plugins/hooks-its'.
[access "refs/*"]
	owner = group plugins-its
	label-Verified = -1..+1 group Registered Users
[access "refs/tags/*"]
	createSignedTag = group plugins-its
[submit]
	action = fast forward only
