[access]
	inheritFrom = Public-Plugins
[project]
	description = Plugin base for issue tracking systems.\n\
\n\
New project for 'plugins/hooks-its'.
[access "refs/*"]
	owner = group plugins-its-base
[access "refs/heads/*"]
	create = group plugins-its-base
	push = +force group plugins-its-base
	forgeCommitter = group plugins-its-base
